.wrapper {
  box-sizing: border-box;
  background-color: lightgray;
  display: flex;
}
  
  div p {
   
      border: 1px solid red;
      float: left;
       margin: 0 .5em;
      padding: 0 .5em;
    }

  
  ul {
    border: 1px solid green;
    float: right;
    list-style-type: none;
    
    text-align: right;
    width: 100%; }

   ul li {
      display: inline-block;
      
      width: 100%; 
    }
   ul li  a {
        display: inline-block;
        padding: 0.5em;
        text-decoration: none;
        width: 100%;
      }
   
