
@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');


*{
  margin:0;
  padding:0;
}

body{
  font-size:17px;
  color:#424242;
  font-family: 'Open Sans', sans-serif;
  background-color: #CC72E3; 
  
}


.wrapper {
  box-sizing: border-box;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
}
  
  .header-right p {
   
    color: #89E372;
    font-weight: 300;
    font-size: 50px;
    line-height: 0.65;
    font-family: 'Lobster', cursive;
    text-align: left;
      
      padding: 15px;
    }

  
    .header-left ul {

   
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: right;
    width: 100%;
    }

    .header-left ul li {
      display: inline-block;
      
      width: 100%; 
    }
   ul li  a {
        display: inline-block;
        padding: 0.5em;
        margin: 5px;
        text-decoration: none;
        width: 100%;
        color: #f7796b;
        font-weight: 250;
        font-size: 25px;
        line-height: 0.65;
        font-family: 'Lobster', cursive;
      }
   
     